title{color:#333;
    .wrap{color:#333;
        ul.slide{color:#333;
            li{color:#333;
                h2{color:#333;
                    
                }
                p{color:#333;

                }
            }
        }
        span.control{color:#333;

        }
    }
}